*{
    margin: 0;
    padding: 0;
}

.total{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(37, 37, 37);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}

.total .row {
    position: absolute;
    left: -10rem;
    width: 100%;
    display: flex;
    padding: 1rem 0;
    white-space: nowrap;
    font-size: 4rem;
    transform: rotate(-30deg);
    margin: auto 1rem;
}

.row-1{
    top: -30rem;
}
.row-2{
    top: -20rem;
}
.row-3{
    top: -10rem;
}
.row-4{
    top: 0rem;
}
.row-5{
    top: 10rem;
}
.row-6{
    top: 20rem;
}
.row-7{
    top: 30rem;
}
.row-8{
    top: 40rem;
}
.row-9{
    top: 50rem;
}
.row-10{
    top: 60rem;
}
.row-11{
    top: 70rem;
}
.row-12{
    top: 80rem;
}
.row-13{
    top: 90rem;
}
.row-14{
    top: 100rem;
}
.row-15{
    top: 110rem;
}


.fa{
    color: rgba(0,0,0,0.5);
    transition: 1s;
    padding: 0 5px;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

.fa:hover{
    transition: 0s;
    color: #0f0;
    text-shadow: 0 0 9rem #0f0;
}

.total .row div{
    animation: animate 100s linear infinite;
}

@keyframes animate {
    0%{
        transform: translateX(0%)
    }
    100%{
        transform: translateX(-100%);
    }
}


.mega-box{
    margin: 0;
    padding: 0;
    border-radius: 0.5rem;
    z-index: 2;
    overflow: auto;
    margin: auto;
}


@media (min-width: 768px) {
    .mega-box{
    display: flex;
    align-items: center;
    }
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(42, 41, 41, 0.781);
    margin: 0;
    padding: 2rem;
    border: 0.1rem solid black;
    width: 12rem;
    height: 23rem;
    color: rgba(245, 245, 245, 0.745);
    opacity: 0.8;
}

.box:hover{
    background-color: rgba(16, 16, 16, 0.778);
    opacity: 1;
}

.box-img{
    background-color: yellow;
    border-radius: 50%;
    border: 0.5rem solid white;
    z-index: 50;
    margin-bottom: 1rem;
}

.box img{
    padding: 1rem;
    width: 5rem;
}

.box-content a{
    text-align: center;
    color: #0f0;
}

a,p{
    margin: 1rem auto;
    text-decoration: dotted;
}

.box img:hover{
    transition: all 0.5s;
    transform: rotateY(360deg);
}

