:root {
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("./assets/img/simple-white-background-with-smooth-lines-light-colors_476363-5220.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    opacity: 5;
    position: sticky;
    z-index: 25;
    top: 0;
    width: 100%;
    height: 2rem;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a{
    margin: auto 0.3rem;
}

.nav-der a{
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.9rem;
}

.nav-der a:hover{
    color: lightgreen;
    font-weight: bold;
    transition: 2s;
    text-decoration: underline;
    font-size: 1.1rem;
}

.home,.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;  
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    overflow: hidden;
}

.descripcion{
    max-width: 700px;
    margin: 1rem auto;
    overflow: hidden;
    margin-bottom: 5rem;
}

#nombre{
    font-size: 2rem;
    font-weight: bold;
}

#soy{
    font-weight: bold;
    font-size: 2rem;
}

.descripcion span{
    color: lightgreen;
    font-size: 2.5rem;
    font-weight: bold;
}

.descripcion p{
    font-size: 1.5rem;
}

#find-me-best-skills{
    display: flex;
    justify-content: space-around;
}

.fa-linkedin{
    color: #0A66C2;
}


.icons img:hover{
    animation-name: fadeIn;
    animation-duration: 2s; 
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
}

.iconos{
    margin: 0.3rem 2rem 0.3rem 0rem;
}

.imagen-1{
    position: relative;
    padding: 1rem;
    background-color: gray;
    border: 0.5rem solid;
    border-radius: 1rem;
}

.a-rodar-box{
    position: absolute;
    left: 100%;
    top: 100%;
    margin: 0;
    animation: spin 10s linear 0s infinite normal none running;
}

#banner{
    border-radius: 1rem;
    box-shadow: 1rem 1.7rem;
}

.a-rodar-imagen{
    transform: translate(-50%, -50%)
}

.texto{
    font-size: 2rem;
    font-weight: 600;
}

.iconos-skills i{
    margin: 1rem;
}

#html-icon{
    color: orange;
}

#css-icon{
    color: blue;
}

#js-icon{
    color: #F7DF1E;
}

#react-icon{
    color: #61dafb;
}

#node-icon{
    color: lightgreen;
}

#bootstrap-icon{
    color: purple;
}

#git-icon{
    color: orange;
}

@keyframes fadeIn {
    from {
        opacity: 1;
    }
    50%{
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}

@keyframes spin {
    0%{
        top: 120%;
        left: 100%;
    }

    25%{
        top: 80%;
        left: 50%;
    }
    50%{
        top: 90%;
        left: 0%;
    }
    75%{
        left: 50%;
    }
    100%{
        top: 120%;
        left: 100%;
    }
}

.about,.skills{
    text-align: center;
    margin-top: 2rem;
    width: 100%;
}

.box{
    margin: 1rem 0rem;
    height: 500px;
}

#mi-foto {
    border-radius: 15px;
    box-shadow: 1rem 1.5rem;
}

.mibox-2{
    margin-top: 2.5rem;
    max-width: 1000px;
}


@media (min-width: 768px) {
    nav{
        margin: 1rem auto;
        max-width: 1400px;
    }
    .nav-der a{
        font-size: 1.5rem;
        margin: auto 1rem;
    }
    

    .nav-der a:hover{
        font-size: 2rem;
    }

    .home{
        margin: 0.8rem auto;
        flex-direction: row;
        justify-content: space-between;
        max-width: 1920px;
    }

    #nombre{
        color: black;
        font-family: 'Montserrat', sans-serif;
        font-size: 3rem;
        line-height: 30px;
        font-weight: bold;
    }
    
    #soy{
        color: black;
        font-family: 'Montserrat', sans-serif;
        font-size: 3rem;
        line-height: 50px;
        font-weight: bold;
    }
    
    
    .descripcion{
        color: black;
        font-family: Poppins, sans-serif;
        font-size: 1.5rem;
        font-weight: bold;
        line-height: 2.5rem;
        margin: 4rem auto;
    }

    .descripcion span{
        font-size: 3rem;
    }
    
    .home-desc{
        font-size: 1.5rem;
    }

    #find-me-best-skills{
        justify-content: flex-start;
    }

    .icons{
        margin-right: 4rem;
    }
    
    .find-best-letters{
        color: black;
        font-family: Poppins, sans-serif;
        font-size: 1.4rem;
        font-weight: bold;
        letter-spacing: 2px;
        opacity: 0.8;
    }

    .texto{
        font-size: 3.5rem;
    }

    .skills i{
        margin: 0.5rem 4rem;
    }

    #sobre-mi{
        display: flex;
        justify-content: center;
    }

    .about{
        margin: 4rem auto;
    }

    .box{
        margin: 1rem 3rem;
    }
}